main h1 {
    width: 100%;
    text-align: center;
    color: aqua;
    margin: 0 0 30px;
    text-transform: capitalize;
}

main {
    padding: 60px 20px 20px 60px;
    box-sizing: border-box;
}

main img {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 50%;
}

main p {
    text-indent: 25px;
    color: aqua;
    font-size: 16px;
    line-height: 20px;
}

#go-back {
    display: block;
    color: aqua;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    margin: 0 0 -20px;
}