<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../detail.css">
</head>

<body>
    <main>
        <a id="go-back" href="./gird.html" target="home-page"><< go back</a>
        <h1>eternity side chair</h1>
        <img src="https://www.thecontractchair.co.uk/media/__sized__/store/product/eternity-side-chair/New_Project_5-thumbnail-600x600-100.jpg"
            alt="">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nemo explicabo eum
            dignissimos dolor sit,
            ducimus excepturi ipsa ex esse! Sequi quae, atque vitae adipisci optio modi
            exercitationem harum
            commodi.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nemo explicabo eum
            dignissimos dolor sit,
            ducimus excepturi ipsa ex esse! Sequi quae, atque vitae adipisci optio modi
            exercitationem harum
            commodi.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nemo explicabo eum
            dignissimos dolor sit,
            ducimus excepturi ipsa ex esse! Sequi quae, atque vitae adipisci optio modi
            exercitationem harum
            commodi.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nemo explicabo eum
            dignissimos dolor sit,
            ducimus excepturi ipsa ex esse! Sequi quae, atque vitae adipisci optio modi
            exercitationem harum
            commodi.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nemo explicabo eum
            dignissimos dolor sit,
            ducimus excepturi ipsa ex esse! Sequi quae, atque vitae adipisci optio modi
            exercitationem harum
            commodi.
        </p>
    </main>
</body>

</html>