<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../listing.css">
    <link rel="stylesheet" href="../card.css">
</head>

<body>
    <main>
        <div class="card">
            <div class="img-wrapper">
                <img src="https://www.thecontractchair.co.uk/media/__sized__/store/product/eternity-side-chair/New_Project_5-thumbnail-600x600-100.jpg"
                    alt="">
            </div>
            <h4>chair</h4>
            <p>more about chair</p>

            <div class="card-hover">
                <p>even more about chair</p>
                <a href="./detail.html" target="home-page">detail</a>
            </div>
        </div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </main>
</body>

</html>